<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">E-Commerce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/carrinho">
            Carrinho
            <span *ngIf="cart$ | async as cart" class="badge badge-warning badge-pill">
              {{ cart.totalItemsCount }}
            </span>
          </a>
        </li>
      </ul>
      <ul class="nav justify-content-end">
        <ng-template #anonymousUser>
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ng-template>
        <li>
          <div ngbDropdown *ngIf="appUser; else anonymousUser" class="d-inline-block">
            <button class="btn btn-outlin" id="dropdownBasic1" ngbDropdownToggle>{{ appUser.name }}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item" routerLink="/meus-pedidos">Meus pedidos</button>
              <ng-container *ngIf="appUser.isAdmin">
                <button class="dropdown-item" routerLink="/admin/pedidos">Gerenciar Pedidos</button>
                <button class="dropdown-item" routerLink="/admin/produtos">Gerenciar Produtos</button>
              </ng-container>
              <button (click)="logout()" class="dropdown-item">Logout</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>